<style>
.card-group {
  display: flex;
  margin-top: 25px;
}

  .cardTwo {
    width: 350px;
    background-color: rgba(199, 199, 199, 0.23);
    margin-left: 15px;
  }
  .card {
    margin-bottom: 15px;
  }
</style>

<h2>

  Главные новости
</h2>
<div class="card-group">
  <div class="card">
      {{#each news}}
    <img src="{{imageURL}}" class="card-img-top" alt="каринка">
    <div class="card-body">
      <a class="title" href="/news/{{_id}}"><h5 class="card-title">{{title}}</h5></a>
      <p class="card-text">{{text}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 minutes ago</small></p>
    </div>
        <hr>
      {{/each}}
  </div>
  <div class="cardTwo">
    <div class="col">
      <div class="card">
        <a href="https://moscow.megafon.ru/" target="_blank"> <img src="https://cs8.pikabu.ru/post_img/2017/05/19/6/149518684415692779.jpg" width="318" alt="картинка"></a>
        <p></p>
        <a href="https://www.apple.com/ru" target="_blank"><img src="https://www.ixbt.com/img/n1/news/2021/4/3/podcast-cover-b2b608a849c6409bfe0de150bb33770b-scaled_large.jpeg" width="318" alt="картинка"></a>
        <p></p>
          {{#each news}}
        <img src="{{imageURL}}" class="card-img-top" alt="картинка">
        <div class="card-body">
          <a class="title" href="/news/{{_id}}"><h6 class="card-title">{{title}}</h6></a>
<!--          <p class="card-text">{{text}}</p>-->
        </div>
          {{/each}}
        <p></p>
        <a href="https://www.apple.com/ru/watch/" target="_blank"><img src="https://img.mvideo.ru/Pdb/30052975b.jpg" width="318" alt="картинка"></a>
        <p></p>
        <a href="https://aliexpress.ru/" target="_blank"><img src="https://store-images.s-microsoft.com/image/apps.51426.13510798887974969.0e4eafdb-2d6f-4660-b63b-cfefaa3f3eb0.104dd1eb-b45e-44f6-8f2c-dc9b2437abd9" width="318" alt="картинка"></a>
      </div>
    </div>
  </div>
  </div>


